.itemDetail{
    display: flex;
}

.imgContainer{
    width: 55%;
}

.imgDetail{
    width: 95%;
    height: 80%;
    border-radius: 10px;
    margin-left: 15px;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.selectorContainer{
    display: flex;
    margin-bottom: 50px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.talle{
    margin-top: 20px;
}
.colores{
    margin-top: 20px;

}
.selector{
    margin-right: 20px;
    width: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.selectorAdd {
    border: none;
    width: 200px;
    height: 45px;
    background-color: rgb(241, 50, 241);
    transition: all 0.3s ease;
}

.selectorAdd:hover {
    background: rgb(248, 129, 248);
    border: 1px solid rgb(214, 121, 214);
    
}

.talleSelector{
    background: black;
    color: white;
    border-radius: 50%;
}

.color-group-selector {display: flex;margin-bottom: 30px;}

.color-selector {width: 30px;height: 30px;margin-right: 10px;cursor: pointer;border: none;border-radius: 50%;}

.black {background: black;}

.white {background: white; border: 1px solid black;}

.red {background: red;}

.pink {background: pink;}

.blue {background: rgb(6, 6, 90);}

.grey {background: rgb(173, 172, 172);}

.redes{
    display: flex;
    flex-direction: row;
}

.redesLogo{
    margin-right: 10px;
}

.info{
    margin-top: 250px;
}