.cartWidget{
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.imgCartWidget{
    width: 90px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.cartInfo{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.cartDelete{
    margin-top: 30px;
}

.btnDelete{
    border: none;
    background-color: white;
}

.cleanCart{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btnCart{
    margin-bottom: 5px;
}
