.divListItem {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.bannerDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imgBanner {
  width: 33.3%;
}

/* media query */

@media (max-width: 768px) {
  .divListItem {
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .bannerDiv {
    display: flex;
    flex-direction: column;
  }

  .imgBanner {
    width: 100%;
    margin-bottom: 10px;
  }
}
