.titleContact{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(252, 220, 225);
    width: 50%;
    margin-left: 25%;
}
.contactDivContainer{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
}
.contactDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(252, 220, 225);
    border-radius: 5px;
    width: 300px;
    height: 250px;
}
.iconContact{
    width: 100px;
    margin-left: 20px;
}
.contactTitle{
    margin-top: 10px;
}
.titleForm{
    margin-bottom: 35px;
}
.divForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    border: 3px solid rgb(252, 220, 225);
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form{
    width: 90%;
}