.containerCount{
    display: flex;
    justify-content: center;
}

.count{
    display: flex;
}

.btnCount{
    color: rgb(238, 160, 173);
    border: 1px solid rgb(238, 160, 173);
    margin: 5px;
}
    

.btnCount:hover{
    color: white;
    background-color: rgb(238, 160, 173);
}


    
   
